<% if @user.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <div class="fw-semibold mb-2">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul class="mb-0 ps-3">
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
