<div class="container justify-content-center">
	<h1 class='text-center'>Campaign Manager with React</h1>
	<p>In order to use campaigns you have to be logged in.</p>
	<p>New user can be created by anyone by default, or disabled in the application and created through backend(console, directly in database, etc)</p>
</div>
