<%#= @campaign.inspect %>
<div class="container justify-content-center">
	<h3 class='text-center'>If no time is set, only dates will be used for reference</h3>
</div>
<div id="campaign-app"></div>
<%# if @campaign.exists? %>
<!-- 	<div class="container justify-content-center">
		<h3 class='text-center'>
			<label>Name: </label><%#= @campaign.name %>
		</h3>
	</div> -->
<%# else %>
	<!-- <div class="container justify-content-center"><h3 class='text-center'>No Campaigns</h3></div> -->
<%# end %>